<launch>
	<arg name="gui" default="true"/>
	<param name="pport" value="43511"/>
	<param name="robot/name" value="NaoH25V50"/>
	<param name="robot_description" textfile="$(find nao_description)/urdf/naoV50_generated_urdf/nao.urdf"/>
	<param name="use_gui" value="$(arg gui)"/>

	<node name="joint_state_publisher" pkg="nao_pkg" type="joint_state_publisher.py"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
		<param name="port" value="9090"/>
	</include>
	
	<node name="file_server" pkg="file_server" type="file_server" output="screen"/>
	

</launch>
